*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Gothic A1', sans-serif;
}


.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}

.container{
    width: 1200px;

    /* 블록박스를 가운데 정렬 */
    margin-left: auto;
    margin-right: auto;
}

.row{
    margin-left: -10px;
    margin-right: -10px;
}

.col-4{
    width: 33.3333334%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
.col-60{
    width: 60%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;

}
.col-40{
    width: 40%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
.pt-400{
    padding-top: 400px;
}
/********Header********/
header{
    height: 90px;
    background-color: #F1E3C4;
    padding-bottom: 15px;

}

header a.left{
    color: #81725F;
    text-decoration: none;
    display: block;
    float: left;
    margin-top: 50px;
    margin-right: 50px;
    font-weight: 600;
}
header a span.material-symbols-outlined{
    font-size: 18px;
    vertical-align: top;
    margin-left: 15px;
}

.logo h1,
.logo p{
    margin: 0;
}
.logo h1 a{
    color: #81725F;
    text-decoration: none;
}
.logo h1{
    letter-spacing: 4px;
    margin-top: 15px;

}
.logo p{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    color: #81725F;
}
.right-top{
    padding-top: 10px;
    text-align: right;
}
.right-top a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    color: #81725F;
    padding-right: 15px;
    padding-left: 15px;
    border-right: 1px solid #d3c2ab;
}
.tabs{
    float: right;
    font-size: 14px;
    font-weight: 300;
    color: #81725F;
    cursor: pointer;
    line-height: 14px;
    padding-left: 15px;
    position: relative;
}
.tabs-on{
    background: #d7c3a4;
    color: white;
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    display: none;
}
.tabs-on p{
    margin: 0;
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ab977c;
}
.tabs-on ul{
    margin: 0;
    padding: 0;
    list-style-position: inside;
}
.tabs-on ul li{
    width: 100%;
    margin: 0;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

}
.tabs-on ul li a{
    text-align: left;
    padding: 0;
    color: white;
}
.tabs-on ul li a:hover{
    font-weight: 600;
    text-decoration: underline;
}
.tabs:first-child{
    padding-right: 15px;

}
.tabs span{
    vertical-align: middle;
}
.right-bottom{
    height: 50px;
    margin-top: 20px;
}
.right-bottom a{
    display: block;
    text-decoration: none;
    color: #666;
    float: right;
    margin-left: 45px;
    font-weight: 600;
}
.right-bottom a:after{
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background: #666;
    margin-top: 15px;
    display: none;
}
.right-bottom a:hover::after{
    display: block;
}

/*****HERO******/
.hero{
    width: 100%;
    height: 650px;
    background: url(../images/main.jpg) no-repeat center;
    background-size: cover;
}
.hero h2{
    font-family: 'Noto Serif KR', serif;
    font-size: 28px;
    font-weight: 400;
    color: white;
    margin: 0;
}
.hero h2 small{
    background-color: #F1E3C4;
    color: #444;
    margin-left: 15px;
    font-size: 16px;
    padding: 3px 8px;
}
.hero h1{
    font-variant: small-caps;
    font-family: 'Noto Serif KR', serif;
    color: white;
    font-size: 58px;
    font-weight: 400;
    margin: 0;
    text-shadow: 0 0 15px rgba(0,0,0,0.3);
    letter-spacing: 2px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
}
.hero p{
    color: white;
    font-size: 20px;
    font-weight: 500;
}
button.btn-link{
    background-color: transparent;
    border: 8px solid #F1E3C4;
    color: white;
    font-size: 25px;
    font-weight: 600;
    padding: 5px 15px;
    margin-top: 100px;
    cursor: pointer;
}
.box{
    width: 1200px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.special-offer a{
    width: 250px;
    height: 100px;
    text-align: center;
    display: block;
    font-family: 'Noto Serif KR', serif;
    font-size: 40px;
    text-decoration: none;
    color: #444;
}
.special-offer a:first-child{
    position: absolute;
    top: 50px;
    left: 525px;
}
.special-offer a:first-child::after{
    content: "";
    width: 250px;
    height: 1px;
    display: block;
    background: #ab977c;
    margin-top: 15px;
    position: absolute;
}
.special-offer a:nth-child(2){
    letter-spacing: 8px;
    font-size: 16px;
    color: #ab977c;
    position: absolute;
    top: 150px;
    left: 525px;
}
.special-offer a:last-child{
    font-size: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    font-family: 'Gothic A1', sans-serif;
}
.special-offer{
    margin-top: 50px;
    position: relative;
    width: 100%;
    height: 300px;

}
.special-offer a span.material-symbols-outlined{
    font-size: 15px;
    vertical-align: top;
    margin-left: 5px;
    margin-right: 5px;
}
.photos{
    width: 100%;
    height: 600px;
    position: relative;
}
.photos-img:first-child{
    background: url(../images/library.jpg) no-repeat center;
    background-size: cover;
    width: 780px;
    height: 330px;
    position: absolute;
    top: 0;
    left: 0;
}
.photos-img:nth-child(2){
    background: url(../images/vacation.jpg) no-repeat center;
    background-size: cover;
    width: 400px;
    height: 290px;
    position: absolute;
    top: 0;
    right: 0;
}
.photos-img:nth-child(3){
    background: url(../images/wine.jpg) no-repeat center;
    background-size: cover;
    width: 380px;
    height: 250px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.photos-img:nth-child(4){
    background: url(../images/danang.jpg) no-repeat center;
    background-size: cover;
    width: 380px;
    height: 250px;
    position: absolute;
    left: 400px;
    bottom: 0;
}
.photos-img:last-child{
    background: url(../images/lobby.jpg) no-repeat center;
    background-size: cover;
    width: 400px;
    height: 290px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.photos p{
    text-align: left;
    display: block;
    color: white;
    font-family: 'Noto Serif KR', serif;
    position: absolute;
    font-weight: 600;
}
.photos-img p:first-child{
    font-size: 13px;
    font-weight: 200;
    bottom: 80px;
    left: 20px;
}
.photos-img p:nth-child(2){
    font-size: 20px;
    bottom: 40px;
    left: 20px;
}
.photos-img p:nth-child(3){
    font-size: 12px;
    bottom: 20px;
    left: 20px;
    font-weight: 100;
}